* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}


.nav-bar {
  max-width: 1440px;
  margin: auto;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header, .hero-text, .pro-text, .header-access {
  font-family: "Raleway", sans-serif;
}

.logo {
  width: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: hsl(238, 22%, 44%);
  transition: color 0.5s ease-in;
}

nav ul li a:hover {
  color: hsl(243, 87%, 12%);
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 30px;
  gap: 20px;
}

.first-hero, .second-hero {
  flex: 1 1 500px;
}

.hero-img, .hero-img2 {
  width: 100%;
}

.hero-text {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  color: hsl(243, 87%, 12%);
}

.hero-p {
  color: hsl(243, 87%, 12%);
}

.email-input{
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}

.get-started-btn {
  background-color: hsl(224, 93%, 58%);
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.get-started-btn:hover, .get-started-for-free-btn:hover {
  background-color:   hsl(224, 98%, 65%);
}

.productive {
  background: url("../images/bg-curve-desktop.svg") no-repeat center/cover;
}

.first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 30px;
  gap: 20px;
}

.first-pro, .second-pro {
  flex: 1 1 500px;
  margin-top: 20px;
}

.pro-text {
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}

.pro-p, .tag {
  color: hsl(243, 87%, 12%);
}

.review-box {
  max-width: 400px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.avatar {
  width: 25%;
  border-radius: 50%;
}

.review-image {
  display: flex;
  align-items: center;
}

.review-text {
  font-weight: lighter;
}

.fyo-link {
  color: #41a494;
  text-decoration: none;
  transition: color 0.3s ease;
}

.fyo-link:hover {
  color: hsl(238, 22%, 44%);
}

.tag {
  margin-left: 10px;
}

.access {
  background-color: hsl(238, 22%, 44%);
  color: #fff;
}

.access-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 30px;
  height: auto;
  gap: 20px;
}

.first-access, .second-access {
  flex: 1 1 500px;
}

.header-access {
  font-weight: 700;
}

.p-acess{
  max-width: 500px;
}

.get-started-for-free-btn{
  background-color: hsl(224, 93%, 58%);
  color: white;
  border-radius: 3px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.newsletter {
  padding: 13px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}


.footer-container {
  background-color: hsl(243, 87%, 12%);
  padding: 2rem 0 4rem 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  padding: 30px;
  color: #fff;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  margin-top: 30px;
}

.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease-out;
}

.footer-heading a:hover, .fa-brands:hover {
  color: hsl(238, 22%, 44%);
}

.logo-footer {
  padding-bottom: 1.8rem;
  filter: brightness(0) invert(1);
}

.footer-logo span{
  padding: 10px;
}

.icon {
  margin-right: 0.5rem;
  
}

.footer-1, .footer-2, .footer-3 {
  margin-top: 6rem;
  margin-right: 3rem;
}

.social-icon {
  display: flex;
  gap: 1rem;
}
/* 
@media (max-width: 768px) {
  .hero, .first, .access-fs, .footer {
    flex-direction: column;
    align-items: center;
  }
  
  .first-hero, .second-hero, .first-pro, .second-pro, .first-access, .second-access {
    max-width: 100%;
    margin-right: 0;
  }
} */
